.dashboard
  display: flex
  justify-content: space-between
  .swipe-info
    position: absolute
    bottom: 0
    padding: 1rem
    width: 100%
    color: #fff
    font-size: 2rem
  .swipe-container
    width: 70%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    .card-container 
      position: relative
      width: 400px
      height: 650px
.swipe 
  position: absolute
.card 
  position:relative
  display: flex
  justify-content: center
  align-items: flex-end
  position: relative
  background-color: #fff
  width: 400px
  height: 650px
  // box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30)
  border-radius: 3rem
  background-size: cover
  background-position: center
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    background-color: rgb(0,0,0,.6)
    width: 100%
    height: 15%
    border-bottom-left-radius: 3rem
    border-bottom-right-radius: 3rem

  h3
    margin-bottom: 3rem
    font-size: 3rem
    color: rgb(255,255,255)
    text-shadow: .2rem .2rem rgba(0,0,0,.6)
    z-index: 1
